/.gradle
/.idea
/modules
/bundles
/deps
*.iml
*.hprof
*.log
korge.keystore
local.properties
src/main/*
.DS_Store

/kotlin-js-store/
/build/
build

build/classes/kotlin/js/main/default/ir/bodies.knb
build/www/korge-hello-world.js
build/kotlin/compileKotlinJs/local-state/build-history.bin
build/kotlin/compileKotlinJs/cacheable/last-build.bin
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/lookups.tab_i
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/lookups.tab.values.at
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/lookups.tab.len
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/lookups.tab.keystream.len
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/lookups.tab.keystream
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/lookups.tab
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/id-to-file.tab_i
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/id-to-file.tab.values.at
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/id-to-file.tab.len
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/id-to-file.tab.keystream.len
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/id-to-file.tab.keystream
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/id-to-file.tab
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/file-to-id.tab.values.at
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/file-to-id.tab
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/counters.tab
build/kotlin/compileKotlinJs/cacheable/caches-js/js/translation-result.tab.values.at
build/kotlin/compileKotlinJs/cacheable/caches-js/js/translation-result.tab
build/kotlin/compileKotlinJs/cacheable/caches-js/js/supertypes.tab.values.at
build/kotlin/compileKotlinJs/cacheable/caches-js/js/supertypes.tab
build/kotlin/compileKotlinJs/cacheable/caches-js/js/subtypes.tab.values.at
build/kotlin/compileKotlinJs/cacheable/caches-js/js/subtypes.tab
build/kotlin/compileKotlinJs/cacheable/caches-js/js/source-to-classes.tab.values.at
build/kotlin/compileKotlinJs/cacheable/caches-js/js/source-to-classes.tab
build/kotlin/compileKotlinJs/cacheable/caches-js/js/ir-translation-result.tab.values.s
build/kotlin/compileKotlinJs/cacheable/caches-js/js/ir-translation-result.tab.values.at
build/kotlin/compileKotlinJs/cacheable/caches-js/js/ir-translation-result.tab.values
build/kotlin/compileKotlinJs/cacheable/caches-js/js/ir-translation-result.tab
build/kotlin/compileKotlinJs/cacheable/caches-js/js/class-fq-name-to-source.tab.values.at
build/kotlin/compileKotlinJs/cacheable/caches-js/js/class-fq-name-to-source.tab
build/kotlin/compileKotlinJs/cacheable/caches-js/js/class-attributes.tab.values.at
build/kotlin/compileKotlinJs/cacheable/caches-js/js/class-attributes.tab
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/main.yjsa4q2ip0mq/Piece.kt.24f1pgz44safb.metadata.bin
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/main.yjsa4q2ip0mq/Piece.kt.24f1pgz44safb.ast.bin
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/main.yjsa4q2ip0mq/module.js
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/main.yjsa4q2ip0mq/Main.kt.23k4witqi8ezk.metadata.bin
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/main.yjsa4q2ip0mq/Main.kt.23k4witqi8ezk.ast.bin
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/main.yjsa4q2ip0mq/js.module.header.bin
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/main.yjsa4q2ip0mq/ic.header.bin
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/main.yjsa4q2ip0mq/Cell.kt.3anj6gipe9inw.metadata.bin
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/main.yjsa4q2ip0mq/Cell.kt.3anj6gipe9inw.ast.bin
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/kotlin-stdlib-js-1.9.22.klib.2azxd5olvphd0/console.kt.1jmdgufg6o1jf.metadata.bin
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/kotlin-stdlib-js-1.9.22.klib.2azxd5olvphd0/Collections.kt.q37gkhpf5z92.metadata.bin
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/kotlin-stdlib-js-1.9.22.klib.2azxd5olvphd0/Collections.kt.3lrt4tozrwlex.metadata.bin
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/kotlin-stdlib-js-1.9.22.klib.2azxd5olvphd0/ArrayList.kt.2h03fo3zse2rx.metadata.bin
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/kotlin-stdlib-js-1.9.22.klib.2azxd5olvphd0/_Collections.kt.2cpeeqfylggp9.metadata.bin
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/korge-js-5.3.0.klib.rp7bmauivhgo/Image.kt.2f2mil65pmnzc.metadata.bin
build/js/packages/korge-hello-world/kotlin/kotlinx-serialization-kotlinx-serialization-json.js
build/js/packages/korge-hello-world/kotlin/kotlinx-serialization-kotlinx-serialization-core.js
build/js/packages/korge-hello-world/kotlin/kotlinx-coroutines-core.js
build/js/packages/korge-hello-world/kotlin/kotlinx-atomicfu.js
build/js/packages/korge-hello-world/kotlin/kotlin_org_jetbrains_kotlin_kotlin_dom_api_compat.js
build/js/packages/korge-hello-world/kotlin/kotlin-kotlin-stdlib.js
build/js/packages/korge-hello-world/kotlin/korge-root-korlibs-time.js
build/js/packages/korge-hello-world/kotlin/korge-root-korlibs-template.js
build/js/packages/korge-hello-world/kotlin/korge-root-korlibs-crypto.js
build/js/packages/korge-hello-world/kotlin/korge-root-korge.js
build/js/packages/korge-hello-world/kotlin/korge-root-korge-foundation.js
build/js/packages/korge-hello-world/kotlin/korge-root-korge-core.js
build/js/packages/korge-hello-world/kotlin/korge-hello-world.js
build/compileSync/js/main/developmentExecutable/kotlin/korge-hello-world.js
build/classes/kotlin/js/main/default/manifest
build/classes/kotlin/js/main/default/linkdata/root_package/3_.knm
build/classes/kotlin/js/main/default/linkdata/root_package/2_.knm
build/classes/kotlin/js/main/default/ir/types.knt
build/classes/kotlin/js/main/default/ir/strings.knt
build/classes/kotlin/js/main/default/ir/signatures.knt
build/classes/kotlin/js/main/default/ir/irDeclarations.knd
build/classes/kotlin/js/main/default/ir/files.knf
build/classes/kotlin/js/main/default/ir/debugInfo.knd
build/classes/kotlin/js/main/default/ir/bodies.knb
build/classes/kotlin/js/main/default/ir/bodies.knb
build/classes/kotlin/js/main/default/ir/bodies.knb
build/kotlin/compileKotlinJs/cacheable/caches-js/js/ir-translation-result.tab.values.at
build/kotlin/compileKotlinJs/cacheable/caches-js/js/ir-translation-result.tab.values.s
build/classes/kotlin/js/main/default/ir/bodies.knb
build/classes/kotlin/js/main/default/ir/debugInfo.knd
build/classes/kotlin/js/main/default/ir/files.knf
build/classes/kotlin/js/main/default/ir/irDeclarations.knd
build/classes/kotlin/js/main/default/ir/signatures.knt
build/classes/kotlin/js/main/default/ir/strings.knt
build/classes/kotlin/js/main/default/ir/types.knt
build/classes/kotlin/js/main/default/linkdata/root_package/2_.knm
build/classes/kotlin/js/main/default/linkdata/root_package/3_.knm
build/classes/kotlin/js/main/default/manifest
build/compileSync/js/main/developmentExecutable/kotlin/korge-hello-world.js
build/js/packages/korge-hello-world/kotlin/korge-hello-world.js
build/js/packages/korge-hello-world/kotlin/korge-root-korge-core.js
build/js/packages/korge-hello-world/kotlin/korge-root-korge-foundation.js
build/js/packages/korge-hello-world/kotlin/korge-root-korge.js
build/js/packages/korge-hello-world/kotlin/korge-root-korlibs-crypto.js
build/js/packages/korge-hello-world/kotlin/korge-root-korlibs-template.js
build/js/packages/korge-hello-world/kotlin/korge-root-korlibs-time.js
build/js/packages/korge-hello-world/kotlin/kotlin-kotlin-stdlib.js
build/js/packages/korge-hello-world/kotlin/kotlin_org_jetbrains_kotlin_kotlin_dom_api_compat.js
build/js/packages/korge-hello-world/kotlin/kotlinx-atomicfu.js
build/js/packages/korge-hello-world/kotlin/kotlinx-coroutines-core.js
build/js/packages/korge-hello-world/kotlin/kotlinx-serialization-kotlinx-serialization-core.js
build/js/packages/korge-hello-world/kotlin/kotlinx-serialization-kotlinx-serialization-json.js
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/korge-js-5.3.0.klib.rp7bmauivhgo/Image.kt.2f2mil65pmnzc.metadata.bin
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/kotlin-stdlib-js-1.9.22.klib.2azxd5olvphd0/_Collections.kt.2cpeeqfylggp9.metadata.bin
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/kotlin-stdlib-js-1.9.22.klib.2azxd5olvphd0/ArrayList.kt.2h03fo3zse2rx.metadata.bin
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/kotlin-stdlib-js-1.9.22.klib.2azxd5olvphd0/Collections.kt.3lrt4tozrwlex.metadata.bin
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/kotlin-stdlib-js-1.9.22.klib.2azxd5olvphd0/Collections.kt.q37gkhpf5z92.metadata.bin
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/kotlin-stdlib-js-1.9.22.klib.2azxd5olvphd0/console.kt.1jmdgufg6o1jf.metadata.bin
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/main.yjsa4q2ip0mq/Cell.kt.3anj6gipe9inw.ast.bin
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/main.yjsa4q2ip0mq/Cell.kt.3anj6gipe9inw.metadata.bin
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/main.yjsa4q2ip0mq/ic.header.bin
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/main.yjsa4q2ip0mq/js.module.header.bin
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/main.yjsa4q2ip0mq/Main.kt.23k4witqi8ezk.ast.bin
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/main.yjsa4q2ip0mq/Main.kt.23k4witqi8ezk.metadata.bin
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/main.yjsa4q2ip0mq/module.js
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/main.yjsa4q2ip0mq/Piece.kt.24f1pgz44safb.ast.bin
build/klib/cache/js/developmentExecutable/version.145qp8kulhspf/main.yjsa4q2ip0mq/Piece.kt.24f1pgz44safb.metadata.bin
build/kotlin/compileKotlinJs/cacheable/caches-js/js/class-attributes.tab
build/kotlin/compileKotlinJs/cacheable/caches-js/js/class-attributes.tab.values.at
build/kotlin/compileKotlinJs/cacheable/caches-js/js/class-fq-name-to-source.tab
build/kotlin/compileKotlinJs/cacheable/caches-js/js/class-fq-name-to-source.tab.values.at
build/kotlin/compileKotlinJs/cacheable/caches-js/js/ir-translation-result.tab
build/kotlin/compileKotlinJs/cacheable/caches-js/js/ir-translation-result.tab.values
build/kotlin/compileKotlinJs/cacheable/caches-js/js/ir-translation-result.tab.values.at
build/kotlin/compileKotlinJs/cacheable/caches-js/js/ir-translation-result.tab.values.s
build/kotlin/compileKotlinJs/cacheable/caches-js/js/source-to-classes.tab
build/kotlin/compileKotlinJs/cacheable/caches-js/js/source-to-classes.tab.values.at
build/kotlin/compileKotlinJs/cacheable/caches-js/js/subtypes.tab
build/kotlin/compileKotlinJs/cacheable/caches-js/js/subtypes.tab.values.at
build/kotlin/compileKotlinJs/cacheable/caches-js/js/supertypes.tab
build/kotlin/compileKotlinJs/cacheable/caches-js/js/supertypes.tab.values.at
build/kotlin/compileKotlinJs/cacheable/caches-js/js/translation-result.tab
build/kotlin/compileKotlinJs/cacheable/caches-js/js/translation-result.tab.values.at
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/counters.tab
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/file-to-id.tab
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/file-to-id.tab.values.at
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/id-to-file.tab
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/id-to-file.tab.keystream
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/id-to-file.tab.keystream.len
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/id-to-file.tab.len
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/id-to-file.tab.values.at
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/id-to-file.tab_i
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/lookups.tab
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/lookups.tab.keystream
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/lookups.tab.keystream.len
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/lookups.tab.len
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/lookups.tab.values.at
build/kotlin/compileKotlinJs/cacheable/caches-js/lookups/lookups.tab_i
build/kotlin/compileKotlinJs/cacheable/last-build.bin
build/kotlin/compileKotlinJs/local-state/build-history.bin
